* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Main-navbar */

#main-Section {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header {
  padding: 50px 0;
}

header .navbar-container {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
}
@media only screen and (max-width: 1100px) {
  .navbar-container {
    width: 100%;
  }
}
.navbar-container {
  max-width: 90%;
  margin: 0 auto;
}
.navbar-container nav {
  display: block;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav-list-item a {
  padding: 15px 30px;
  font-size: 15px;
  color: hsl(257, 7%, 63%);
  text-decoration: none;
}
.nav-list-item a:hover {
  color: hsl(257, 27%, 26%);
}
.right {
  margin-left: auto;
}
#sign-btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 28px;
  background: hsl(180, 66%, 49%);
  color: #fff;
  text-decoration: none;
}

/* Main content */
.mainInner {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-position: center right -40px;
}
.main-content {
  width: 1110px;
  max-width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 1100px) {
  .main-content {
    width: 100%;
  }
}

.left-half {
  position: relative;
  width: 965px;
  max-width: 100%;
  z-index: 1;
}
.left-half h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: hsl(257, 27%, 26%);
}
.left-half p {
  font-size: 22px;
  color: hsl(257, 7%, 63%);
  margin-bottom: 20px;
}
.started-btn {
  display: inline-block;
  padding: 15px 25px;
  background: hsl(180, 66%, 49%);
  color: #fff;
  border-radius: 28px;
  text-decoration: none;
}

.right-half {
  position: absolute;
  width: min-content;
  max-width: 45%;
  right: -30px;
  top: 0;
}

/* Advanced section */
.main-advanced {
  background: #eff1f7;
  padding-bottom: 120px;
  text-align: center;
}
.advanced {
  width: 1110px;
  max-width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 1100px) {
  .advanced {
    width: 100%;
  }
}

.shortener {
  scroll-margin-top: 200px;
}
.shortener form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  padding: 50px 65px;
  margin-top: 100px;
  margin-bottom: -50px;
  background-color: hsl(257, 27%, 26%);
  background-image: url(./images/bg-shorten-desktop.svg);
  color: #fff;
  border-radius: 10px;
  transform: translateY(-50%);
}
#inpURL {
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.shortener button {
  background: hsl(180, 66%, 49%);
  border: none;
  padding: 20px 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

.error {
  position: absolute;
  bottom: 14px;
  left: 65px;
  font-style: italic;
  color: #f46363;
}

.shortener h2 {
  margin-top: 74px;
  font-size: 40px;
  font-weight: 700;
}
.shortener p {
  max-width: 540px;
  margin: 0 auto;
  line-height: 32px;
  color: hsl(257, 7%, 63%);
  font-weight: 500;
  font-size: 18px;
}

#cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 63px;
  align-items: flex-start;
  position: relative;
}

#cards::before {
  position: absolute;
  top: 50%;
  width: 100%;
  content: "";
  height: 8px;
  background: #2bd0d0;
  z-index: 0;
}

.card {
  background: #fff;
  border-radius: 5px;
  padding: 0px 32px 43px 32px;
  margin-top: 40px;
  flex-basis: 350px;
  flex-shrink: 1;
  z-index: 1;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  height: 88px;
  width: 88px;
  background-color: hsl(260, 8%, 14%);
  border-radius: 50%;
}
@media only screen and (max-width: 800px) {
  .icon {
    margin: 0 auto;
  }
}
.card h3 {
  margin-bottom: 23px;
  text-align: left;
}
#cards .card p {
  font-size: 15px;
  line-height: 26px;
  text-align: left;
}

#cards .card:nth-last-of-type(2) {
  margin-top: 84px;
}

@media only screen and (max-width: 800px) {
  #cards .card {
    flex-grow: 1;
  }
}

#cards .card:nth-last-of-type(3) {
  margin-top: 128px;
}

/* Purple section */

.started-section {
  display: grid;
  place-content: center;
  place-items: center;
  padding: 75px 20px 56px 20px;
  background-color: hsl(257, 27%, 26%);
  background-image: url(./images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.started-section h2 {
  color: #fff;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: hsl(260, 8%, 14%);
  color: #fff;
  padding: 70px 0;
}
@media only screen and (max-width: 800px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}
.footer-content {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  grid-column-gap: 60px;
}
@media only screen and (max-width: 800px) {
  .footer-content {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1100px) {
  .footer-content {
    width: 100%;
  }
}

.footer-logo img {
  fill: #fff;
}

footer h3 {
  margin-bottom: 30px;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
footer ul {
  padding-left: 0;
}
ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

footer a {
  color: hsl(257, 7%, 63%);
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
